* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    nav {
        height: 100%;
        ul {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #333;
            li {
                height: 100%;
                width: 100%;
                color: #eee;
                list-style: none;
                font-size: 16px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.4s;
                &:hover {
                    background-color: #666;
                }
            }
        }
    }
}

main {
    ul {
        width: 100vw;
        height: 900px;
        li {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .btns {
        button {
            width: 24px;
            height: 24px;
            background-color: tomato;
        }
    }
}
