* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    nav {
        height: 100%;
        ul {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #333;
            li {
                color: #eee;
                list-style: none;
                font-size: 16px;
                font-weight: bold;
                &:hover {
                }
            }
        }
    }
}
