* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    nav {
        height: 100%;
        ul {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #333;
            li {
                height: 100%;
                width: 100%;
                color: #eee;
                list-style: none;
                font-size: 16px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.4s;
                &:hover {
                    background-color: #666;
                }
            }
        }
    }
}

main {
    position: relative;
    ul {
        display: flex;
        overflow: visible;
        width: 100vw;
        height: 900px;
        transition: 1s;
        &:hover {
            transform: translateX(-100vw);
            overflow: visible;
        }
        li {
            width: 100vw;
            height: 100%;
            img {
                width: 100vw;
                height: 100%;
            }
        }
    }
    .btns {
        width: 100vw;
        position: absolute;
        top: 40%;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            width: 50px;
            height: 50px;
            background-color: #eee;
            border-radius: 50%;
            border: 0.2px solid #666;
            margin: 35px;
            background-image: url("../images/arrow_icon.png");
            background-position: center;
            background-size: contain;
            &:last-child {
                transform: scale(-1, 1);
            }
        }
    }
}
